.hover-bg:hover {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    @apply bg-gray-500/50 rounded-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    z-index: -1;
  }
  > * {
    @apply z-10;
  }
}

.hover-bg:active::before {
  width: 200%;
  height: 200%;
  @apply bg-gray-500/75;
}
